.map-canvas { width: 100%; height: 600px; }
.tab-area { margin-top: -6%; position: absolute; }
.container {
	background-color: white;
	position: relative;
	height: 100px;
	margin-top: -5%;
}

#filter-nav .nav { border-bottom: 1px solid #eee; padding-bottom: 4%; }
#filter-nav a { margin: 3%; font-weight: bold; background-color: #EEE; border-top: 0px solid; }
#filter-nav a.selected { background-color: whitesmoke; border-top: 1px solid; }

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 70%;
	max-width: 400px;
	margin-left: 3%;
	margin-top: 10px;
}

#pac-input:focus {
	border-color: #4d90fe;
	margin-left: 3%;
	padding-left: 14px;
	width: 70%;
	max-width: 400px;
}

.filter-results-row {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
	text-align: center;
}

#filter-results-total {
	text-align: left;
}

.places-box {
	display: inline-block;
	width: 100%;
	text-align: left;
	font-size: 0.9em;
}

.places-box ul {
	list-style-type: none;
	padding: 0px;
    margin: 0px;
    padding-bottom: 2%;
}

#filter-results {
	padding-top: 1%;
}

#filter-results .row { 
	padding-top: 3%; 
}

#filter-results .row.first {
	padding-top: 0;
}

#filter-results-footer {
	padding-bottom: 20%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { .map-canvas { height: 250px; } }
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { .map-canvas { height: 250px; } }
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { .map-canvas { height: 250px; } }



